<?xml version="1.0" encoding="utf-8" ?>
<ActiveDirectorySection>
  <ActiveDirectoryServices>
    <Service key="Lpg" path="LDAP://50.0.0.31:389/DC=la_positiva,DC=com,DC=pe" user ="usrjirati" pass="Positiva20" />
    <Service key="Lpv" path="LDAP://50.0.0.63:389/DC=lapositivavida,DC=com,DC=pe" user ="usrjiraTI" pass="Seguridad01" />
  </ActiveDirectoryServices>
</ActiveDirectorySection>